*{
    margin: 3px;
    padding: 2px;
    /* text-align: center; */
}
.heading{
    text-align: center;
    /* font-family: cursive; */
    margin: 40px;
}
.label{
    /* font-weight: bold; */
    color:rgb(86, 127, 202);
}
.dropdown{
    padding: 20px;
    border: 1px solid rgb(140, 209, 35);
    border-radius: 4px;
    width: 600px;
    color: gray;
}
button{
    background-color: #0d6db7;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 10px;
    width: 700px;
    font-family:serif;
    align-items:center ;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.input{
    padding: 20px;
    border: 1px solid rgb(140, 209, 35);
    border-radius: 4px;
    width: 556px;
    color: gray;
}
.other{
    width: 500px;
    justify-content: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}