*{
    margin: 10px;
}
.header{
    background-color: rgb(52, 90, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h2{
    font-weight: bolder;
    font-size: 40px;
}
.content{
    background-color: rgb(104, 156, 158);
    width: 900px;
}
.h1{
    font-weight: bolder;
    font-size: 40px;
}
.para{
    font-size: 20px;
}
.main{
     display: flex;
    justify-content: center;
    align-items: center;
}