*{
    margin: 10px;
    background-color: #111827;
    color: white;
}
.main-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.list{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.logo{
    font-size: 30px;
}